@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Nunito+Sans:wght@300;400;600;700&family=Roboto+Mono:wght@400;500&family=Space+Grotesk:wght@400;500;700&display=swap');

:root {
  --font-sans: "Nunito Sans", sans-serif;
  --font-mono: "Roboto Mono", monospace;
  --font-display: "Space Grotesk", sans-serif;
  --font-brand: "Josefin Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-brand {
  font-family: var(--font-brand);
  letter-spacing: -0.05em;
}

.font-display {
  font-family: var(--font-display);
}

.font-mono {
  font-family: var(--font-mono);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
